src/main/resources/xml-schema/dvz0/dvz0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2020 BITMARCK Service GmbH
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema elementFormDefault="qualified"
           targetNamespace="https://xml.diga-ready.de/xsd/dvz0/v2"
           version="2.1.0"
           xml:lang="de"
           xmlns="https://xml.diga-ready.de/xsd/dvz0/v2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DigaVerzeichnis">
        <xs:annotation>
            <xs:documentation>
                Ein ganz- oder teilweiser Abzug der Stammdaten aus dem DiGA-Verzeichnis.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Diga" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Ein Datensatz für eine DiGA, genauer für ein DiGA-Modul, identifiziert durch eine PZN
                            (Pharmazentralnummer).
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Anwendungstage" type="xs:positiveInteger" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Die Anwendungsdauer in Form einer positiven Anzahl von Tagen.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Beschreibung">
                                <xs:annotation>
                                    <xs:documentation>Die Beschreibung.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:token">
                                        <xs:minLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Details" type="URL">
                                <xs:annotation>
                                    <xs:documentation>
                                        Der URL zur Webseite des Bundesinstituts für Arzneimittel und Medizinprodukte.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="DigaId">
                                <xs:annotation>
                                    <xs:documentation>Die (nicht eindeutige) fünfstellige DiGA-ID.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                Zur Syntax regulärer Ausdrücke siehe
                                                https://www.w3.org/TR/xmlschema11-2/#regexs .
                                                Zu den Multi-character escapes siehe
                                                https://www.w3.org/TR/xmlschema11-2/#cces-mce .
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:pattern value="\d{5}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DigaVeId" type="DigaVeId"/>
                            <xs:element name="Erstverordnung" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Referenzen zur Erstverordnung in Form einer DiGA-VE-ID und der dazugehörgen PZN.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="DigaVeId" type="DigaVeId"/>
                                        <xs:element name="Pzn" type="Pzn"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Freigabe" type="Freigabe" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Eine möglicherweise leere Liste von Freigaben.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GültigAb" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>
                                        Schränkt die Gültigkeit des gesamten Datensatzes auf den Zeitraum ein, der an
                                        diesem Datum beginnt.

                                        ACHTUNG: Es darf keine zwei Datensätze mit derselben PZN oder derselben
                                        DiGA-VE-ID und überlappenden Zeitintervallen geben!
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GültigBis" minOccurs="0" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>
                                        Schränkt die Gültigkeit des gesamten Datensatzes auf den Zeitraum ein, der an
                                        diesem Datum endet.

                                        ACHTUNG: Es darf keine zwei Datensätze mit derselben PZN oder derselben
                                        DiGA-VE-ID und überlappenden Zeitintervallen geben!
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Hersteller">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Ik">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Das neunstellige Institutionskennzeichen mit Prüfziffer.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:positiveInteger">
                                                    <xs:annotation>
                                                        <xs:appinfo>
                                                            Zur Syntax regulärer Ausdrücke siehe
                                                            https://www.w3.org/TR/xmlschema11-2/#regexs .
                                                            Zu den Multi-character escapes siehe
                                                            https://www.w3.org/TR/xmlschema11-2/#cces-mce .
                                                        </xs:appinfo>
                                                    </xs:annotation>
                                                    <xs:pattern value="\d{9}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Name" type="xs:token"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Homepage" type="URL" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Der optionale URL zur Homepage.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Indikation" type="Indikation" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Eine nicht-leere Liste von Indikationen.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Kategorie" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Eine nicht-leere Liste von Kategorien.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:token">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                Zur Syntax regulärer Ausdrücke siehe
                                                https://www.w3.org/TR/xmlschema11-2/#regexs .
                                                Zu den Multi-character escapes siehe
                                                https://www.w3.org/TR/xmlschema11-2/#cces-mce .
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:pattern value="\c\c?:.*"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Kontraindikation" type="Indikation" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Eine möglicherweise leere Liste von Kontraindikationen.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Name">
                                <xs:annotation>
                                    <xs:documentation>Der Name.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:token">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Packungspreis">
                                <xs:annotation>
                                    <xs:documentation>
                                        Brutto-Preis zum Regelsteuersatz in Euro (€) mit maximal zwei signifikanten
                                        Nachkommastellen.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Plattform" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Eine oder mehrere Plattformen.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Link" type="URL">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Der URL zur Landing-Page für den Download der DiGA oder
                                                    sogar zum direkten Download der DiGA.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Name">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Der Name der Plattform.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Pzn" type="Pzn"/>
                            <xs:element name="Zulassungsbeginn" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>
                                        Das Datum, an dem die Zulassung beginnt.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Zulassungsende" minOccurs="0" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>
                                        Das Datum, an dem die Zulassung endet.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" fixed="2.0.0" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="DigaVeId">
        <xs:annotation>
            <xs:documentation>Die eindeutige, achtstellige DiGA-VE-ID.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:annotation>
                <xs:appinfo>
                    Zur Syntax regulärer Ausdrücke siehe
                    https://www.w3.org/TR/xmlschema11-2/#regexs .
                    Zu den Multi-character escapes siehe
                    https://www.w3.org/TR/xmlschema11-2/#cces-mce .
                </xs:appinfo>
            </xs:annotation>
            <xs:pattern value="\d{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Freigabe">
        <xs:annotation>
            <xs:documentation>
                Informationen zu geschlechts- oder altersbedingten Einschränkungen zur Nutzung der DiGA.
                Wenn nicht vorhanden, so gibt es keine solchen Einschränkungen.
                Wenn mehrere vorhanden, so sind diese mit "oder" zu verknüpfen.
                Die darin enthaltenen Termini sind mit "und" zu verknüpfen.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AlterAb" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Das Mindestalter für die Freigabe.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AlterBis" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Das Höchstalter für die Freigabe.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Geschlecht" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Ein Geschlechtskennzeichen ('M', 'W' oder 'D') für die Freigabe.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="M"/>
                        <xs:enumeration value="W"/>
                        <xs:enumeration value="D"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Indikation">
        <xs:restriction base="xs:token">
            <xs:annotation>
                <xs:appinfo>
                    Zur Syntax regulärer Ausdrücke siehe https://www.w3.org/TR/xmlschema11-2/#regexs .
                    Zu den Multi-character escapes siehe https://www.w3.org/TR/xmlschema11-2/#cces-mce .
                </xs:appinfo>
            </xs:annotation>
            <xs:pattern value="[^:]{1,7}:.*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Pzn">
        <xs:annotation>
            <xs:documentation>
                Die eindeutige, achtstellige Pharmazentralnummer inklusive Prüfziffer.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:annotation>
                <xs:appinfo>
                    Zur Syntax regulärer Ausdrücke siehe
                    https://www.w3.org/TR/xmlschema11-2/#regexs .
                    Zu den Multi-character escapes siehe
                    https://www.w3.org/TR/xmlschema11-2/#cces-mce .
                </xs:appinfo>
            </xs:annotation>
            <xs:pattern value="\d{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="URL">
        <xs:restriction base="xs:token">
            <xs:annotation>
                <xs:appinfo>
                    Zur Syntax regulärer Ausdrücke siehe https://www.w3.org/TR/xmlschema11-2/#regexs .
                    Zu den Multi-character escapes siehe https://www.w3.org/TR/xmlschema11-2/#cces-mce .
                    Zum regulären Ausdruck für URLS siehe https://tools.ietf.org/html/rfc3986#appendix-B .
                </xs:appinfo>
            </xs:annotation>
            <xs:pattern value="(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
